@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: 'Lato';
}
.App {
  text-align: center;
}

.DropIn {
  margin: auto;
  width: 480px;
}

button {
  background-color: #EF626C;
  border: none;
  color: white;
  padding: 18px 36px 18px 36px;
  margin: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 4px;
}

.hosted-field-form-container {
  margin: 12px auto 12px auto;
  width: 480px;
  background-color: #FFFFFF;
  border: 1px solid #B5B5B5;
  border-radius: 4px;
  padding: 12px;
}

.hosted-field-form {
  text-align: left;
  padding: 12px;
}

.hosted-field-info-container {

}

.hosted-field-info {

}

.hosted-field-label {
  display: block;
  font-size: 14px;
}

.hosted-field {
  height: 48px;
  background-color: #FFFFFF;
  border: 1px solid #B5B5B5;
  border-radius: 4px;
  margin: 4px 0 12px 0;
  padding: 0 12px 0 12px;
}
